table th, table td {
    padding: 15px;
    border: 1px solid #7c7c7c;
    text-align: left;
    text-align: center;
    border-width: thin;
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

td{
    max-width: 160px;
    overflow-wrap: anywhere;
}

thead{
    background-color: rgb(0, 0, 0);
}