@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&display=swap');
body{
    background-color:rgb(218, 218, 218);
    font-family: 'kanit', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.receipt{
    background-color: white;
    width: 38%;
    margin: auto;
    padding: 20px;
    line-height: 13px;
    border-radius: 20px;
}
h3{
    color: rgb(233, 0, 0);
    font-weight: 700;
}