@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&display=swap');

body {
    background-color: rgb(255, 255, 255);
    font-family: 'kanit', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.search{
    display: flex;
    align-items: center;
}
.container h4{
    margin-right: 10px;
}
.search{
    height: 60px;
}
.box{
    --padding: 5px;
    width: max-content;
    display: flex;
    align-items: center;
    border-radius: 28px;
    padding: var(--padding);
    padding-right: 20px;
    padding-left: 20px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(205, 205, 205);
}
.s-t{
    font-size: 15px;
    margin-right: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    width: 270px;
}
.icon-s{
    color: rgb(103, 103, 103);
}

/* หมวดหมู่ */
.catagory{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.catagory li{
    margin: 10px 40px 10px -30px;
}
.catagory li a{
    text-decoration: none;
    color: black;
    border: 2px solid rgb(185, 185, 185);
    padding: 0.2em 0.7em 0.2em 0.7em;
    border-radius: 20px;
}
.catagory .a2{
    background-color: rgb(217, 0, 0);
    color: white;
    border: none;
}
.catagory .a2:hover{
    background-color: rgb(217, 0, 0);
    color: white;
    border: none;
}

.catagory li a:hover{
    background-color: rgb(235, 235, 235);
}
.container-fluid{
    background-color: rgb(223, 223, 223);

}

.sidebar{
    width: 20%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 20px;
    width: 24%;
    
}
.timeout{
    padding: 5px 20px 0px 20px;
    margin: 15px 0;
    border: 2px solid rgb(186, 186, 186);
    border-radius: 20px;
}

.listoder{
    text-align: left;
}

.oderf{
 
    background-color: rgb(226, 226, 226);
}

/* ข้างใน sidebar */
.oderlist {
    display: flex;
    align-items: center; 
    padding: 5px; 
    width: 100%;
    margin: 5px 0;
}
#listod{
    flex-direction: column;
    border: 2px solid #d9d9d9;
}

.imglist {
    width: 20%;
    float: left;
}

/* ตรงจำนวนและ ปุ่มเพิ่มลด */
.sib{
    padding: 10px;
    width: 100%;
}
.sib p{
    margin-right:12px;
    font-size: 14px;
}

.comf{
    display: block;
    width: 96%;
    text-align: center;
    padding: 10px 0;
    background-color: #0baf0e;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    border:none ;
}
.comf:hover{
    background-color: #069808;
}
/* css Grid เมนู */
.food{
    background-color: white;
    width: 20%;
    padding: 20px;
    justify-content: center;
}
img{
    width: 100%;
}


/* css ปุ่มสั่งอาหาร */
.oderadd{
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #ea0000;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}
.oderadd:hover{
    background-color:  rgb(190, 10, 10);
}
.del , .add{
    text-align: right;
    padding: 0 10px 0 10px;
    border: 2px solid rgb(177, 177, 177);
    text-decoration: none;
    color: black;
}
.add:hover{
    background-color: #d9d9d9;
}
.del:hover{
    background-color: #d9d9d9;
}
.numoder{
    border-top: 2px solid rgb(177, 177, 177);
    border-bottom: 2px solid rgb(177, 177, 177);
    padding: 0 12px 0 12px;
}
.gbtnoder {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.adbtn {
    margin-left: auto; 
    margin: 0 2px 10px 0;
    display: flex;
    align-items: center; 
    gap: 4px;
}
.numo{
    width: 45px;
}

.hisimg{
    width: 100%;
}

.lishis{
    background-color: white;
    padding: 25px;   
    border-radius: 20px;
}
tr,td{
    border:  2px solid #d9d9d9;
    text-align: center;
}
.mg{
    padding: 0 4em 0 4em;
}

.deletelist{
    margin-left: 10px;
    cursor: pointer;
    color: red;
}